apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generatorOptions:
  disableNameSuffixHash: true

resources:
  - ../../base
namespace: default

images:
  - name: wordpress
    newName: ha-pvt.t0xe7uh231qhhb7.itbg.svc40.mycloudplatform.cloud/devsecops/demo2025-kaas
    newTag: 0.0.6

configMapGenerator:
  - name: wordpress-apache-conf
    literals:
      - servername.conf=ServerName devsecops2025-arubacloud.com
  - name: wordpress-mu-plugins
    files:
      - 00-canonical-urls.php=./mu-plugins/00-canonical-urls.php
  - name: cronjob-env
    literals:
      - WORDPRESS_CRON_URL=https://devsecops2025-arubacloud.com/wp-cron.php
patches:
  - path: deployment-patch.yaml
  - path: ingress-patch.yaml
